<!-- $Id: agency_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="validator.js,../js/transport.js,../js/region.js"}

<script type="text/javascript">
region.isAdmin=true;
</script>
<div class="main-div">
<form method="post" action="area_manage.php" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">名称：</td>
    <td><input type="text" name="region_name" maxlength="60" value="{$regions.region_name}" />{$lang.require_field}</td>
  </tr>


  <tr>
    <td class="label">拼音首字母：</td>
    <td><input type="text" name="pin_yin" value="{$regions.pin_yin}" /></td>
  </tr>
  <tr>
    <td class="label">置顶：</td>
    <td><input type="checkbox" onclick="check_item(this)" value="{$regions.is_top}" {if $regions.is_top eq 1}checked="checked"{/if} name="is_top"/></td>
  </tr>
  <tr>
    <td class="label">显示：</td>
    <td><input type="checkbox" onclick="check_item(this)" value="{$regions.is_show}" {if $regions.is_show eq 1}checked="checked"{/if} name="is_show"/></td>
  </tr>


 
  
</table>

<table align="center">
  <tr>
    <td colspan="2" align="center">
      <input type="submit" class="button" value="{$lang.button_submit}" />
      <input type="reset" class="button" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="update_area" />
      <input type="hidden" name="region_id" value="{$regions.region_id}" />
	  <input type="hidden" name="parent_id" value="{$regions.parent_id}" />
    </td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
function check_item(obj){
	obj.value = obj.checked ? '1' : '0';
}
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("region_name",  '地区名称不能为空');
    return validator.passed();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}